- provide(:title, 'Book')
%h1 New book

.row 
  .col-md-6.col-md-offset-3
    = form_with(model: @book, local: true) do |f|
      = render 'shared/error_messages', object: @book

      - if @result_books.nil?
        %p No results in Google Books.
      - else
        %p Choose a book from the Google Books search results: 
        - @result_books.each do |google_book|
          .radio-group.row
            %input{type: 'radio', id: @result_books.index(google_book), name: 'book[google_books_id]', value: google_book['id'], class: 'form-check-input'}
            %label{for: @result_books.index(google_book), class: 'form-check-label'}
              = "#{google_book['volumeInfo']['title']} #{'- ' + google_book['volumeInfo']['authors'][0] if google_book['volumeInfo']['authors']}, #{google_book['volumeInfo']['publisher'] ||= 'no publisher'}"

      = f.label :title, "#{'Title (Leave empty to fill from Google Books)' unless @result_books.nil?}"
      = f.text_field :title, class: 'form-control'

      = f.label :author, "#{'Author (Leave empty to fill from Google Books)' unless @result_books.nil?}"
      = f.text_field :author, class: 'form-control'

      = f.label :genre  
      = f.text_field :genre, class: 'form-control'

      = f.label :description, "#{'Description (Leave empty to fill from Google Books)' unless @result_books.nil?}"
      = f.text_area :description, class: 'form-control'

      = f.label :publisher, "#{'Publisher (Leave empty to fill from Google Books)' unless @result_books.nil?}"
      = f.text_field :publisher, class: 'form-control'

      = f.label :publishing_date, "#{'Publishing date (Leave empty to fill from Google Books)' unless @result_books.nil?}"
      = f.date_field :publishing_date, class: 'form-control'

      = f.label :quantity
      = f.text_field :quantity, class: 'form-control'

      = f.label :price
      = f.text_field :price, class: 'form-control'

      = f.submit 'Add book', class: 'btn btn-primary'
    
    = link_to 'Back', root_path
