- provide(:title, 'Search Books')
%h1= "Result for #{@query}:" 

.row
  .col-md-5.col-md-offset-3
    - if @books.empty?
      No results. 
      = link_to "Let's add this book!", search_api_path
      %br
    - else
      = render 'books_list'
    = link_to 'Back', home_path 
